@model IEnumerable<AircraftDataApp.Models.Aircraft_Airport>

@{
    ViewData["Title"] = "Index";
}

<h1>Positions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatePosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aircraft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aircraft.Registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airport.FullAirport)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAircraftAirport">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAircraftAirport">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
