@model IEnumerable<AircraftDataApp.Models.AircraftType>

@{
    ViewData["Title"] = "Index";
}

<h1>Aircraft Types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Range)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Range)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAircraftType">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAircraftType">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
